@{
    ViewData["Title"] = "Najczęściej zadawane pytania";
} 
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Strona</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
            font-family: Arial, sans-serif;
        }

        .jumbotron {
            background-color: #007bff;
            color: #fff;
            padding: 50px;
            border-radius: 0;
        }

        .jumbotron h1,
        .jumbotron p {
            text-align: center;
        }

        .faq-item {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .faq-item h2 {
            color: #007bff;
        }
    </style>
</head>
<body>
   <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Najczęściej Zadawane Pytania</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="faq-item">
                        <a href="https://localhost:7287/FAQs"><h2>FAQ</h2></a>
                        <p>Tutaj znajdziesz odpowiedzi na nurtujące cię pytania.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="faq-item">
                        <a href="https://localhost:7287/FAQs/ShowSearchSite"><h2>Szukaj</h2></a>
                        <p>Powiedz nam czego szukasz</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="faq-item">
                        <a href="https://localhost:7287/Home/Privacy"><h2>Prywatność</h2></a>
                        <p>Polityka prywatności</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="faq-item">
                        <h2><a href="@Url.Action("RandomQuestion", "FAQs")">Losowe pytanie</a></h2>
                        <p>Good luck!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>









