@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Na tej stronie znajdziesz informacje dotyczące polityki prywatności oraz korzystania z plików cookies w ramach serwisu "Najczęściej Zadawane Pytania".</p>

<h2>I. Definicje</h2>
<p>Wszystkie terminy pisane z wielkiej litery mają takie samo znaczenie, jak w naszym Regulaminie, który jest integralną częścią tego dokumentu.</p>

<h2>II. Informacje ogólne</h2>
<p>Niniejsza polityka prywatności dotyczy sposobu przetwarzania danych osobowych przez serwis "Najczęściej Zadawane Pytania" oraz wykorzystywania plików cookies.</p>

<h3>1. Polityka prywatności</h3>
<p>Nasz serwis zbiera informacje o użytkownikach w następujący sposób:</p>
<ul>
    <li>Poprzez formularze, w które użytkownicy dobrowolnie wprowadzają informacje.</li>
    <li>Poprzez pliki cookies, które są przechowywane w urządzeniach użytkowników.</li>
    <li>Poprzez gromadzenie logów serwera www.</li>
</ul>

<h3>2. Pliki cookies</h3>
<p>Nasz serwis wykorzystuje pliki cookies w celu:</p>
<ul>
    <li>Ulepszania doświadczenia użytkowników poprzez analizę sposobu korzystania ze strony.</li>
    <li>Utrzymania sesji użytkownika po zalogowaniu.</li>
    <li>Dopasowania treści serwisu do preferencji użytkowników.</li>
</ul>

<h2>III. Logi serwera</h2>
<p>Informacje o niektórych zachowaniach użytkowników są rejestrowane w celu zapewnienia sprawnego działania serwisu "Najczęściej Zadawane Pytania". Dane te są anonimowe i nie są identyfikowane z konkretnymi osobami.</p>

<h2>IV. Udostępnienie danych</h2>
<p>Dane użytkowników nie są udostępniane osobom trzecim, chyba że jest to wymagane przez prawo lub dotyczy procesu obsługi pytań zgłaszanych przez użytkowników.</p>
