@model List<FAQ>

@{
    ViewData["Title"] = "Search Results";
}

<h2>Wyniki</h2>

@if (Model != null && Model.Any())
{
        <table>
            <thead>
                <tr>
                    <th>Pytanie</th>
                    <th>Odpowiedź</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var faq in Model)
            {
                        <tr>
                            <td>@faq.Question</td>
                            <td>@faq.Answer</td>
                        </tr>
            }
            </tbody>
        </table>
}
else
{
        <p>Nie znaleziono wyników dla "@ViewBag.SearchTerm". Przekierowanie zapytania do Google, poczekaj 5 sekund...</p>

        <script>
            setTimeout(function() {
                var searchTerm = "@ViewBag.SearchTerm";
                var googleSearchUrl = "https://www.google.com/search?q=" + encodeURIComponent(searchTerm);
                window.open(googleSearchUrl, '_blank');
                window.location.href = "https://localhost:7287";
             }, 5000); // 5000 milliseconds = 5 seconds
        </script>
}
