@{
    ViewData["Title"] = "Szukaj";
}

<h2>Wyszukaj pytanie lub słowo klucz</h2>

<form asp-controller="FAQ" asp-action="ShowSearchResults" method="post">
    <input type="text" name="searchTerm" />
    <button type="submit">Szukaj</button>
</form>
